@font-face {
    font-family: "Huluobos-Regular-东方大楷";
    font-weight: 400;
    src: url("./font/Regular/Alimama_DongFangDaKai_Regular.woff") format("woff");
    font-display: swap;
  }
  
  @font-face {
    font-family: "Huluobos-Regular-普惠体";
    font-weight: 400;
    src: url("./font/PuHuiTi/Alibaba_PuHuiTi_2.0_55_Regular_55_Regular.woff") format("woff");
    font-display: swap;
  }
  
  
  * {
    font-family: "Helvetica,Charter,PingFang SC,Microsoft YaHei,Arial,sans-serif";
    padding: 0;
    margin: 0;
    white-space: nowrap;
  }
  .fontK{
    /* font-family: "Huluobos-Regular-东方大楷"; */
  }
  body{
    background-color: #f7f7f7;
    color: #000;
    font-size: 13px;
  }